*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
body { background: #1C182F;
       font-family: 'Roboto Condensed', sans-serif;
    
    }
.card-menu {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background:#FFE26F;
  background-size: cover;
  border-radius: 6px;
}
.card-menu-close-menu {
  position: absolute;
  left: 22px;
  top: 22px;
  width: 29px;
  cursor: pointer;
}
card-menu-close-menu:before, .card-menu-close-menu:after {
  content: "";
  position: absolute;
